WECHAT_APPID=wx0f68874c718318bf
WECHAT_APPSECRET=4719e11ebae2e75231484b7a5eb79802
BAOYU_MARKDOWN_TO_HTML_DIR=~/work/skills/baoyu-skills/skills/baoyu-markdown-to-html

# OpenAI API 配置（支持兼容接口如阿里云百炼）
OPENAI_API_KEY= 07edc94107ae4f8cb08010eaf2aede1f.Sn7KC0rYwqySG2PK
OPENAI_BASE_URL= https://open.bigmodel.cn/api/coding/paas/v4
OPENAI_MODEL= glm-5-turbo

# 资讯 Markdown 文件输出目录（留空则默认存储到 skill 目录下的 output 子目录）
NEWS_OUTPUT_DIR=~/work/github/media-conent/source/ai-news
